:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0077b6;
  --primary-hover: #00639a;
  --primary-active: #004e7a;
  --secondary-color: #90e0ef;
  --header-bg-color: #f0f0f0;
  --table-stripe: #f5f5f5;
  --table-hover: #eee;
  --table-border: #cccccc;
  --today-row-bg: #fff3cd;
  --today-row-text: #856404;
  --overlay-color: rgba(0, 0, 0, 0.6);
  --yes-color: #28a745; // grønn
  --no-color: #dc3545; // rød
}

.dark {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #48cae4;
  --primary-hover: #35b3cd;
  --primary-active: #2793aa;
  --secondary-color: #00b4d8;
  --header-bg-color: #1f1f1f;
  --table-stripe: #1b1b1b;
  --table-hover: #2a2a2a;
  --table-border: #444444;
  --today-row-bg: #3e2723;
  --today-row-text: #ffccbc;
  --overlay-color: rgba(255, 255, 255, 0.6);
  --yes-color: #34d399; // grønnaktig i dark mode
  --no-color: #f87171; // rødaktig i dark mode
}
