.header {
  position: relative;
  background-image: url('/img/header-bg.jpg');
  background-size: cover;
  background-position: center;
  color: var(--text-color);


  &::before {
    content: '';
    position: absolute;
    inset: 0;
    //background-color: var(--overlay-color);
    z-index: 0;
    transition: background-color 0.3s ease-in-out;
  }

  * {
    position: relative;
    z-index: 1; // løfter innholdet over overlay
  }
}
