.footer {
  background-image: url('/img/footer-bg.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 6rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}